name: Deploy generator to LH

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server: ${{ secrets.FTP_SERVER }}
          port: ${{ secrets.FTP_PORT }}
          local_path: './*'
          # Ścieżka na LH dla SFTP zazwyczaj zaczyna się od /home/...
          remote_path: '/home/platne/serwer417204/public_html/twojastronawww.pl'
          sftp_args: '-o ConnectTimeout=60'

          # local-dir: ./
          # server-dir: "/home/platne/serwer417204/public_html/dancepuls.katosalsahub.pl/"
          # exclude: |
          #   **/.git*
          #   **/.github/**
          #   **/node_modules/**